.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    font-family: sans-serif;
}

.msg{
    margin-top: 30px;
    margin-bottom: 20px;
}

img{
    width: 100%;
    border: none;
    border-radius: 50%;
    margin-left: 20px;
    margin-bottom: 50px;
}