<img src="../../assets/login/pexels-pixabay-461064.jpg" alt="">

<div class="container">
    <h2>Sent Messages</h2>
    <div class="messages" #messages>
        <!--
            <div class="task">
            <div class="to">
                <h3>To :  </h3>
                <h4>Admin</h4>
            </div>
            <hr>
            <div class="msg">
                <h3>Message : </h3>
                <h4>Hello, i am writing this to admin</h4>
            </div>
        </div>
        -->
    </div>
</div>