
<div class="parent">
    <div class="image-div">
        <img src="../../assets/Smiling black and white coworkers looking at camera in the office_.png" alt="image" class="bigImg" >
        <div class="white-transperant" >
            <div class="image-content">
                <h4 class="h4-msg">Find Jobs, Employment & Career Opportunities</h4>
                <h1 class="h1-msg" >Search Between More Than</h1>
                <h1 class="h1-msg" > <span class="span-msg" >50,000</span> Open Jobs</h1>


            </div>
        </div>
    </div>    
</div>