<div class="container">
    
    <div class="img-div">
        <img src="../../assets/companies/about.png"  class="about" alt="">
    </div>
    
    <h1 align="center" class="title">Top Companies</h1>
    <div class="companies-list">
        <div class="company">
            <a href="https://www.dell.com/en-in/blog/authors/dell-technologies/">
                <h3 class="company-name"  >Dell</h3>
            </a>
            <img src="../../assets/companies/dell.png" alt="dello-logo" class="dell-img logo" >
            <p class="description">
                Dell provides technology solutions, services & support. Buy Laptops, Touch Screen PCs, Desktops, Servers, Storage, Monitors, Gaming & Accessories.
            </p>
        </div>
        <div class="company">
            <a href="https://www.tcs.com/" target="_blank">
                <h3 class="company-name">TCS</h3>
            </a>
            <img src="../../assets/companies/tcs.png" alt="tcs-logo" class="tcs-img logo">
            <p class="description">
                TCS transforms businesses through technology. We help businesses successfully navigate digital transformation and drive real growth, across a vast ecosystem of expertise
            </p>
        </div>
        <div class="company">
            <a href="https://www.nvidia.com/en-in/" target="_blank">
                <h3 class="company-name">NVIDIA</h3>
            </a>
            <img src="../../assets/companies/nvidia.png"  target="_blank" alt="nvidia-logo" class="dell-img logo">
            <p class="description">
                NVIDIA invents the GPU and drives advances in AI, HPC, gaming, creative design, autonomous vehicles, and robotics.
            </p>
        </div>
        <div class="company">
            <a href="https://www.infosys.com/" target="_blank">
                <h3 class="company-name">Infosys</h3>
            </a>
            <img src="../../assets/companies/infosys.jpeg" alt="dello-logo" class="dell-img logo">
            <p class="description">
                Infosys provides software development, maintenance and independent validation services to companies in finance, insurance, manufacturing and other domains.
            </p>
        </div>
    </div>

    
<div class="accordion-div">
    <div #accordion class="accordion">
        <h2 class="accordion-title">Frequently Asked Questions</h2>
        <div class="content-container">
          <div class="question">How do i apply for a position?</div>
          <div class="answer">
            Visit our Jobs for You page and view our current open positions. After reviewing the requirements, if your skills meet the specific requirements for one or more positions, please click “Apply for this Job” and complete all fields on the application. If no position meets your current interest, you can Submit Resume to us for future consideration.
          </div>
        </div>
        <div class="content-container">
          <div class="question">What is the company's benefit in free job posting ?</div>
          <div class="answer">
            It is an opportunity for us to learn how hiring happens in this segment and to help our recruiters in getting the best candidates. <br>
            On the other hand, we are helping job seekers find relevant jobs for free.
          </div>
        </div>
        <div class="content-container">
          <div class="question">What should i do if i haven't heard back from an application ?</div>
          <div class="answer">
            Due to the volume of applicants that Naviga receives for our positions, we appreciate your patience while our recruiters review your background. You will be contacted if there is a fundamental match with an active open position. If you have not been contacted within 48 hours and you feel strongly about your candidacy and ability to meet the requirements outlined, contact admin through messages section in this website.
          </div>
        </div>
      </div>

</div>
</div>