*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.parent{
    height: 100vh;
    /*
    background-image: url('../../assets/log-in/4171344.jpg');
    */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 70vw;
    height: 80vh;
    left: 220px;
    top: 10px;
    
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.3) , 0 6px 20px 0 rgba(0,0,0,0.3);
    
    
    backdrop-filter: blur(4px) saturate(51%);
    -webkit-backdrop-filter: blur(4px) saturate(51%);
    background-color: rgba(255, 255, 255, 0.);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

img{
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    width: 240px;
}


.forgot-password{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.title{
    font-size: 35px;
    margin-bottom: 10px;
}


.input-field{
    width: 100%;
    height: 36px;
    margin: 10px 0;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


input{
    background: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
    width: 100%;
    height: 36px;
    font-size: 18px;
    font-weight: 400;
}

.btn{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    margin: 10px 0;
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover{
    background: #fff;
    color: #333;
}

.reset-password{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#verify-btn{
    font-size: 16px;
    font-weight: 200;
}

#change-password-btn{
    font-size: 16px;
    font-weight: 200;
    width: 100%;
}

.change-password{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}


.signin-msg {
    font-size: 18px;
}
.signin-msg a{
    text-decoration: none;
}


.isNotSame{
    border: 1px solid red; /* Red border to indicate invalid input */
  box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.7);
}
.currentPassword{
    margin-top: 10px;
}