<div class="parent">
    <img src="../../assets/logo3.png" alt="logo">
    <div class="container">

        <div class="forgot-password">
            
            <form action="" class="reset-password">
                    
                <h2 class="title">Reset Password</h2>
                <p>
                    <input  type="text" placeholder="Role Id" required #roleId>
                </p>

                <p>
                    <input type="password" placeholder="Current Password" class="currentPassword" required #currentPassword>
                </p>

                <input type="submit" class="btn" id="verify-btn" value="Verify" *ngIf="isVerified == 0" (click)="verify()" >
                
                <div class="change-password" *ngIf="isVerified != 0">
                    <p>
                        <input type="password"  placeholder="Choose strong password" pattern="{6,18}[a-z][A-Z][0-9]" #newPassword >
                    </p>
                    <input type="password" class="input-field" [class.isNotSame]="notSimilar==1" placeholder="Confirm password" pattern="{6,18}[a-z][A-Z][0-9]" #confirmPassword  (click)="checkIsSame()">
                    
                    <input type="submit"  (click)="reset()" class="btn" id="change-password-btn" value="Change Password">
                </div>
                <div class="signin-msg">
                    <p>
                        Already have an account? <a href="#">Signin</a>
                    </p>
                </div>
                
            </form>
        </div>
    </div>
</div>